In [1]:
import pandas as pd
import numpy as np
import re
import os
import sys
import csv
import json
from datetime import datetime
from pathlib import Path

df = pd.read_excel('rawdata_loki.xlsx', sheet_name='Cleanser')

# Remove trailing .0 for all values (convert to str first)
df = df.applymap(lambda x: str(int(x)) if isinstance(x, float) and x.is_integer() else x)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 29 columns):
 #   Column                                                                                                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                                                                                                  --------------  -----
 0   Response ID                                                                                                                                                                                             712 non-null    int64
 1   Gender                                                                                                                                                                                                  712 non-null    int64
 2   Ethnicity                                                                                                                                                                                               712 non-null    int64
 3   Age_range                                                                                                                                                                                               712 non-null    int64
 4   State                                                                                                                                                                                                   712 non-null    int64
 5   Avg_monthly_income                                                                                                                                                                                      694 non-null    object
 6   <img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Clarins.png" alt="Clarins" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?                     216 non-null    object
 7   <img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Clinique1.png" alt="Clinique" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?                  277 non-null    object
 8   <img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/EsteeLauder1.png" alt="Estee Lauder" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?           242 non-null    object
 9   <img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Kiehls1.png" alt="Kiehl's" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?                     219 non-null    object
 10  <img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/LOccitane.png" alt="L'Occitane" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?                222 non-null    object
 11  <img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Lancome1.png" alt="Lancôme" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?                    247 non-null    object
 12  <img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Laneige3.png" alt="Laneige" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?                    291 non-null    object
 13  <img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Shiseido1.png" alt="Shiseido" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?                  277 non-null    object
 14  <img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Innisfree1.png" alt="Innisfree" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?                262 non-null    object
 15  <img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/SKII1.png" alt="SK-II" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?                         333 non-null    object
 16  <img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Dior1.png" alt="Dior" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?                          193 non-null    object
 17  <img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Clarins.png" alt="Clarins" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?            91 non-null     object
 18  <img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Clinique1.png" alt="Clinique" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?         99 non-null     object
 19  <img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/EsteeLauder1.png" alt="Estee Lauder" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?  70 non-null     object
 20  <img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Kiehls1.png" alt="Kiehl's" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?            92 non-null     object
 21  <img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/LOccitane.png" alt="L'Occitane" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?       69 non-null     object
 22  <img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Lancome1.png" alt="Lancôme" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?           92 non-null     object
 23  <img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Laneige3.png" alt="Laneige" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?           92 non-null     object
 24  <img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Shiseido1.png" alt="Shiseido" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?         79 non-null     object
 25  <img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Innisfree1.png" alt="Innisfree" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?       101 non-null    object
 26  <img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/SKII1.png" alt="SK-II" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?                179 non-null    object
 27  <img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Dior1.png" alt="Dior" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?                 83 non-null     object
 28  Which LUXURY SKIN CARE brands do you use most often for Cleanser.                                                                                                                                       422 non-null    object
dtypes: int64(5), object(24)
memory usage: 161.4+ KB

C:\Users\aisar\AppData\Local\Temp\ipykernel_31040\3698390147.py:14: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: str(int(x)) if isinstance(x, float) and x.is_integer() else x)

In [2]:
df.columns = df.columns.str.strip()
df.columns

Index(['Response ID', 'Gender', 'Ethnicity', 'Age_range', 'State',
       'Avg_monthly_income',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Clarins.png" alt="Clarins" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Clinique1.png" alt="Clinique" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/EsteeLauder1.png" alt="Estee Lauder" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Kiehls1.png" alt="Kiehl's" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/LOccitane.png" alt="L'Occitane" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Lancome1.png" alt="Lancôme" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Laneige3.png" alt="Laneige" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Shiseido1.png" alt="Shiseido" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Innisfree1.png" alt="Innisfree" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/SKII1.png" alt="SK-II" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Dior1.png" alt="Dior" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Clarins.png" alt="Clarins" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Clinique1.png" alt="Clinique" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/EsteeLauder1.png" alt="Estee Lauder" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Kiehls1.png" alt="Kiehl's" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/LOccitane.png" alt="L'Occitane" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Lancome1.png" alt="Lancôme" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Laneige3.png" alt="Laneige" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Shiseido1.png" alt="Shiseido" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Innisfree1.png" alt="Innisfree" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/SKII1.png" alt="SK-II" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Dior1.png" alt="Dior" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?',
       'Which LUXURY SKIN CARE brands do you use most often for Cleanser.'],
      dtype='object')

In [3]:
df['Avg_monthly_income'] = df['Avg_monthly_income'].astype(str).replace({
    '1': 'Below RM2500',
    '2': 'RM2500 – RM4999',
    '3': 'RM2500 – RM4999',
    '4': 'RM2500 – RM4999',
    '5': 'RM5000 – RM6999',
    '6': 'RM5000 – RM6999',
    '7': 'RM7000 – RM10999',
    '8': 'RM7000 – RM10999',
    '9': 'RM7000 – RM10999',
    '10': 'RM7000 – RM10999',
    '11': 'RM7000 – RM10999'
})

df['State'] = df['State'].astype(str).replace({
    '1': 'WP',
    '2': 'Selangor'
})

df['Ethnicity'] = df['Ethnicity'].astype(str).replace({
    '1': 'Malay'
})

df['Gender'] = df['Gender'].astype(str).replace({
    '2': 'Female'
})

df['Age_range'] = df['Age_range'].astype(str).replace({
    '2': '26-35',
    '3': '26-35',
    '4': '36-45',
    '5': '36-45',
    '6': '46 and above',
    '7': '46 and above',
})


# df.drop(columns=['Please select the beer/stout brand that you purchase most often?'], inplace=True)

# df = df.rename(columns={
#     'Please select the diapers pants brand that you used most often.': 'Purchase Likelihood'
# })


# df = df.drop(df.columns[-3:], axis=1)

In [4]:
print(df['Age_range'].value_counts())
print('--------------')
print(df['Age_range'].isna().sum()) # No missing values

Age_range
26-35           495
36-45           193
46 and above     24
Name: count, dtype: int64
--------------
0

In [5]:
# Step 1: Replace string 'nan' with actual np.nan
df['Avg_monthly_income'] = df['Avg_monthly_income'].replace('nan', np.nan)

# Step 2: Sample values and impute
sampled_values = df['Avg_monthly_income'].dropna().sample(
    n=df['Avg_monthly_income'].isna().sum(),
    replace=True
)
df['Avg_monthly_income'] = df['Avg_monthly_income'].fillna(
    pd.Series(sampled_values.values, index=df[df['Avg_monthly_income'].isna()].index)
)

# Step 3: Check missing values again
print("Missing values after imputation:", df['Avg_monthly_income'].isna().sum())

Missing values after imputation: 0

In [6]:
columns = ['Gender', 'Ethnicity', 'State', 'Avg_monthly_income']

for col in columns:
    print(f"Column: {col}")
    print(df[col].value_counts(dropna=False))  # includes NaN counts in value_counts
    print(f"Missing values: {df[col].isna().sum()}")
    print("-" * 30)

Column: Gender
Gender
Female    712
Name: count, dtype: int64
Missing values: 0
------------------------------
Column: Ethnicity
Ethnicity
Malay    712
Name: count, dtype: int64
Missing values: 0
------------------------------
Column: State
State
WP          506
Selangor    206
Name: count, dtype: int64
Missing values: 0
------------------------------
Column: Avg_monthly_income
Avg_monthly_income
RM2500 – RM4999     481
RM5000 – RM6999     176
RM7000 – RM10999     55
Name: count, dtype: int64
Missing values: 0
------------------------------

In [7]:
df.columns

Index(['Response ID', 'Gender', 'Ethnicity', 'Age_range', 'State',
       'Avg_monthly_income',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Clarins.png" alt="Clarins" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Clinique1.png" alt="Clinique" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/EsteeLauder1.png" alt="Estee Lauder" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Kiehls1.png" alt="Kiehl's" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/LOccitane.png" alt="L'Occitane" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Lancome1.png" alt="Lancôme" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Laneige3.png" alt="Laneige" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Shiseido1.png" alt="Shiseido" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Innisfree1.png" alt="Innisfree" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/SKII1.png" alt="SK-II" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Dior1.png" alt="Dior" style="width:200px;" />:Which LUXURY SKIN CARE brands are you aware of for Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Clarins.png" alt="Clarins" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Clinique1.png" alt="Clinique" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/EsteeLauder1.png" alt="Estee Lauder" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Kiehls1.png" alt="Kiehl's" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/LOccitane.png" alt="L'Occitane" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Lancome1.png" alt="Lancôme" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Laneige3.png" alt="Laneige" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Shiseido1.png" alt="Shiseido" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Innisfree1.png" alt="Innisfree" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/SKII1.png" alt="SK-II" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?',
       '<img src="http://surveygizmolibrary.s3.amazonaws.com/library/642038/Dior1.png" alt="Dior" style="width:200px;" />:Which LUXURY SKIN CARE brands do you currently use for your Cleanser?',
       'Which LUXURY SKIN CARE brands do you use most often for Cleanser.'],
      dtype='object')

In [8]:
brand_mapping = {
    "Clarins": "Clarins Brand",
    "Clinique": "Clinique Brand",
    "Estee": "Estée Lauder Brand",
    "Kiehl's": "Kiehl’s Brand",
    "L'Occitane": "L’Occitane Brand",
    "Lancôme": "Lancôme Brand",
    "Laneige": "Laneige Brand",
    "Shiseido": "Shiseido Brand",
    "Innisfree": "Innisfree Brand",
    "SKII": "SK-II Brand",
    "Dior": "Dior Brand"
}

for keyword, new_name in brand_mapping.items():
    for col in df.columns:
        if keyword in col and "aware" in col:
            df = df.rename(columns={col: new_name})
            break  # stop once found

In [9]:
brand_mapping = {
    "Clarins": "Clarins Current",
    "Clinique": "Clinique Current",
    "Estee": "Estée Lauder Current",
    "Kiehl's": "Kiehl’s Current",
    "L'Occitane": "L’Occitane Current",
    "Lancôme": "Lancôme Current",
    "Laneige": "Laneige Current",
    "Shiseido": "Shiseido Current",
    "Innisfree": "Innisfree Current",
    "SKII": "SK-II Current",
    "Dior": "Dior Current"
}

for keyword, new_name in brand_mapping.items():
    for col in df.columns:
        if keyword in col and "currently" in col:
            df = df.rename(columns={col: new_name})
            break  # stop once found

In [10]:
df = df.rename(columns={
    'Which LUXURY SKIN CARE brands do you use most often for Cleanser.': 'Purchase Likelihood'
})

In [11]:
df['Purchase Likelihood'] = df['Purchase Likelihood'].astype(str).replace({
    '1': 'Clarins',
    '2': 'Clinique',
    '3': 'Estée Lauder',
    '4': "Kiehl’s",
    '5': "L’Occitane",
    '6': 'Lancôme',
    '7': 'Laneige',
    '8': 'Shiseido',
    '9': 'Innisfree',
    '10': 'SK-II',
    '11': 'Dior',
    '': np.nan,
    'nan': np.nan  # in case some rows got converted to string 'nan'
})

In [12]:
print(df['Purchase Likelihood'].value_counts())
print('--------------')
print(df['Purchase Likelihood'].isna().sum()) # No missing values

Purchase Likelihood
SK-II           119
Clinique         60
Clarins          47
Innisfree        46
Kiehl’s          41
Estée Lauder     25
Laneige          24
Lancôme          21
Shiseido         18
L’Occitane       11
Dior             10
Name: count, dtype: int64
--------------
290

In [13]:
# Get unique non-null brands
unique_brands = df['Purchase Likelihood'].dropna().unique()

# Create new binary columns based on each brand
for brand in unique_brands:
    col_name = f"{brand} Purchase Likelihood"
    df[col_name] = (df['Purchase Likelihood'] == brand).astype(int)

In [14]:
df.columns

Index(['Response ID', 'Gender', 'Ethnicity', 'Age_range', 'State',
       'Avg_monthly_income', 'Clarins Brand', 'Clinique Brand',
       'Estée Lauder Brand', 'Kiehl’s Brand', 'L’Occitane Brand',
       'Lancôme Brand', 'Laneige Brand', 'Shiseido Brand', 'Innisfree Brand',
       'SK-II Brand', 'Dior Brand', 'Clarins Current', 'Clinique Current',
       'Estée Lauder Current', 'Kiehl’s Current', 'L’Occitane Current',
       'Lancôme Current', 'Laneige Current', 'Shiseido Current',
       'Innisfree Current', 'SK-II Current', 'Dior Current',
       'Purchase Likelihood', 'SK-II Purchase Likelihood',
       'Kiehl’s Purchase Likelihood', 'Innisfree Purchase Likelihood',
       'Laneige Purchase Likelihood', 'Dior Purchase Likelihood',
       'Clarins Purchase Likelihood', 'Estée Lauder Purchase Likelihood',
       'Clinique Purchase Likelihood', 'L’Occitane Purchase Likelihood',
       'Lancôme Purchase Likelihood', 'Shiseido Purchase Likelihood'],
      dtype='object')

In [15]:
df = df.drop(columns=['Purchase Likelihood'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 39 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Response ID                       712 non-null    int64
 1   Gender                            712 non-null    object
 2   Ethnicity                         712 non-null    object
 3   Age_range                         712 non-null    object
 4   State                             712 non-null    object
 5   Avg_monthly_income                712 non-null    object
 6   Clarins Brand                     216 non-null    object
 7   Clinique Brand                    277 non-null    object
 8   Estée Lauder Brand                242 non-null    object
 9   Kiehl’s Brand                     219 non-null    object
 10  L’Occitane Brand                  222 non-null    object
 11  Lancôme Brand                     247 non-null    object
 12  Laneige Brand                     291 non-null    object
 13  Shiseido Brand                    277 non-null    object
 14  Innisfree Brand                   262 non-null    object
 15  SK-II Brand                       333 non-null    object
 16  Dior Brand                        193 non-null    object
 17  Clarins Current                   91 non-null     object
 18  Clinique Current                  99 non-null     object
 19  Estée Lauder Current              70 non-null     object
 20  Kiehl’s Current                   92 non-null     object
 21  L’Occitane Current                69 non-null     object
 22  Lancôme Current                   92 non-null     object
 23  Laneige Current                   92 non-null     object
 24  Shiseido Current                  79 non-null     object
 25  Innisfree Current                 101 non-null    object
 26  SK-II Current                     179 non-null    object
 27  Dior Current                      83 non-null     object
 28  SK-II Purchase Likelihood         712 non-null    int64
 29  Kiehl’s Purchase Likelihood       712 non-null    int64
 30  Innisfree Purchase Likelihood     712 non-null    int64
 31  Laneige Purchase Likelihood       712 non-null    int64
 32  Dior Purchase Likelihood          712 non-null    int64
 33  Clarins Purchase Likelihood       712 non-null    int64
 34  Estée Lauder Purchase Likelihood  712 non-null    int64
 35  Clinique Purchase Likelihood      712 non-null    int64
 36  L’Occitane Purchase Likelihood    712 non-null    int64
 37  Lancôme Purchase Likelihood       712 non-null    int64
 38  Shiseido Purchase Likelihood      712 non-null    int64
dtypes: int64(12), object(27)
memory usage: 217.1+ KB

In [16]:
print(df['Clarins Purchase Likelihood'].value_counts())
print('--------------')
print('missing values:', df['Clarins Purchase Likelihood'].isna().sum())

Clarins Purchase Likelihood
0    665
1     47
Name: count, dtype: int64
--------------
missing values: 0

### Pivoting

In [17]:
columns_to_process = df.columns.tolist()
columns_to_process

['Response ID',
 'Gender',
 'Ethnicity',
 'Age_range',
 'State',
 'Avg_monthly_income',
 'Clarins Brand',
 'Clinique Brand',
 'Estée Lauder Brand',
 'Kiehl’s Brand',
 'L’Occitane Brand',
 'Lancôme Brand',
 'Laneige Brand',
 'Shiseido Brand',
 'Innisfree Brand',
 'SK-II Brand',
 'Dior Brand',
 'Clarins Current',
 'Clinique Current',
 'Estée Lauder Current',
 'Kiehl’s Current',
 'L’Occitane Current',
 'Lancôme Current',
 'Laneige Current',
 'Shiseido Current',
 'Innisfree Current',
 'SK-II Current',
 'Dior Current',
 'SK-II Purchase Likelihood',
 'Kiehl’s Purchase Likelihood',
 'Innisfree Purchase Likelihood',
 'Laneige Purchase Likelihood',
 'Dior Purchase Likelihood',
 'Clarins Purchase Likelihood',
 'Estée Lauder Purchase Likelihood',
 'Clinique Purchase Likelihood',
 'L’Occitane Purchase Likelihood',
 'Lancôme Purchase Likelihood',
 'Shiseido Purchase Likelihood']

In [18]:
# Include Response ID for count
columns_to_process = ['Response ID', 'Gender', 'Age_range', 'Ethnicity','State','Avg_monthly_income'] + columns_to_process

# Melt the DataFrame for processing
melted_df = df.melt(id_vars=['Gender', 'Age_range','Ethnicity','State','Avg_monthly_income'], value_vars=columns_to_process, 
                    var_name='Category', value_name='Value')

# Generate a pivot table without grand totals
pivot_table = pd.pivot_table(
    melted_df,
    values='Value',
    index=['Gender', 'Age_range','Ethnicity','State','Avg_monthly_income'],
    columns='Category',
    aggfunc='count',
    fill_value=0
)

# Reset index for cleaner output (optional)
pivot_table.reset_index(inplace=True)
print(pivot_table)

Category  Gender     Age_range Ethnicity     State Avg_monthly_income  \
0         Female         26-35     Malay  Selangor    RM2500 – RM4999
1         Female         26-35     Malay  Selangor    RM5000 – RM6999
2         Female         26-35     Malay  Selangor   RM7000 – RM10999
3         Female         26-35     Malay        WP    RM2500 – RM4999
4         Female         26-35     Malay        WP    RM5000 – RM6999
5         Female         26-35     Malay        WP   RM7000 – RM10999
6         Female         36-45     Malay  Selangor    RM2500 – RM4999
7         Female         36-45     Malay  Selangor    RM5000 – RM6999
8         Female         36-45     Malay  Selangor   RM7000 – RM10999
9         Female         36-45     Malay        WP    RM2500 – RM4999
10        Female         36-45     Malay        WP    RM5000 – RM6999
11        Female         36-45     Malay        WP   RM7000 – RM10999
12        Female  46 and above     Malay  Selangor    RM2500 – RM4999
13        Female  46 and above     Malay  Selangor    RM5000 – RM6999
14        Female  46 and above     Malay  Selangor   RM7000 – RM10999
15        Female  46 and above     Malay        WP    RM2500 – RM4999
16        Female  46 and above     Malay        WP    RM5000 – RM6999
17        Female  46 and above     Malay        WP   RM7000 – RM10999

Category  Clarins Brand  Clarins Current  Clarins Purchase Likelihood  \
0                    22                4                           98
1                     0                0                           12
2                     1                0                            5
3                    39               12                          282
4                    54               39                           80
5                     6                1                           18
6                    11                4                           47
7                    23               14                           28
8                     4                1                            7
9                    11                2                           44
10                   28                8                           46
11                    7                3                           21
12                    2                1                            4
13                    3                1                            3
14                    0                0                            2
15                    1                0                            6
16                    3                1                            7
17                    1                0                            2

Category  Clinique Brand  Clinique Current  ...  L’Occitane Brand  \
0                     40                17  ...                19
1                      1                 1  ...                 1
2                      2                 0  ...                 1
3                     66                21  ...                75
4                     55                14  ...                21
5                      8                 2  ...                 6
6                     13                 4  ...                10
7                     24                12  ...                24
8                      4                 1  ...                 3
9                     13                 2  ...                13
10                    32                17  ...                33
11                     9                 3  ...                 6
12                     2                 1  ...                 2
13                     3                 2  ...                 3
14                     0                 0  ...                 0
15                     1                 1  ...                 1
16                     3                 1  ...                 3
17                     1                 0  ...                 1

Category  L’Occitane Current  L’Occitane Purchase Likelihood  Response ID  \
0                          2                              98           98
1                          0                              12           12
2                          0                               5            5
3                          5                             282          282
4                         12                              80           80
5                          2                              18           18
6                          3                              47           47
7                         16                              28           28
8                          0                               7            7
9                          3                              44           44
10                        23                              46           46
11                         2                              21           21
12                         0                               4            4
13                         1                               3            3
14                         0                               2            2
15                         0                               6            6
16                         0                               7            7
17                         0                               2            2

Category  SK-II Brand  SK-II Current  SK-II Purchase Likelihood  \
0                  38             14                         98
1                   4              4                         12
2                   3              2                          5
3                 117             90                        282
4                  56             16                         80
5                  12              7                         18
6                  15              6                         47
7                  21             10                         28
8                   4              1                          7
9                  18             10                         44
10                 24             10                         46
11                 11              7                         21
12                  2              0                          4
13                  3              1                          3
14                  0              0                          2
15                  1              0                          6
16                  3              0                          7
17                  1              1                          2

Category  Shiseido Brand  Shiseido Current  Shiseido Purchase Likelihood
0                     27                 7                            98
1                      4                 3                            12
2                      3                 2                             5
3                     99                21                           282
4                     44                12                            80
5                      7                 3                            18
6                      9                 0                            47
7                     23                13                            28
8                      4                 1                             7
9                     13                 4                            44
10                    26                 9                            46
11                     8                 3                            21
12                     2                 0                             4
13                     3                 1                             3
14                     0                 0                             2
15                     1                 0                             6
16                     3                 0                             7
17                     1                 0                             2

[18 rows x 39 columns]

In [19]:
pivot_table.to_csv('checkcount_lokicleanser.csv')

In [20]:
total_rows = len(df)

# List of columns to process for current usage
awareness_columns = [col for col in df.columns if "Brand" in col]

# Loop through each column to calculate awareness and unawareness percentages
for column in awareness_columns:
    pivot_table[f'Unaware of {column}'] = pivot_table['Response ID'] - pivot_table[column]
    pivot_table[f'{column} Awareness (%)'] = (pivot_table[column] / total_rows) * 100
    pivot_table[f'{column} Unawareness (%)'] = (pivot_table[f'Unaware of {column}'] / total_rows) * 100

    # Round the percentages to 1 decimal place
    pivot_table[f'{column} Awareness (%)'] = pivot_table[f'{column} Awareness (%)']
    pivot_table[f'{column} Unawareness (%)'] = pivot_table[f'{column} Unawareness (%)']

# Drop the original columns after processing
pivot_table.drop(columns=awareness_columns, inplace=True)

# Drop columns starting with "Unaware of"
unaware_columns = [col for col in pivot_table.columns if col.startswith('Unaware of')]
pivot_table.drop(columns=unaware_columns, inplace=True)

# Define the columns for display, ensuring awareness and unawareness are side by side
display_columns1 = ['Gender', 'Age_range','Ethnicity','State','Avg_monthly_income']
for column in awareness_columns:
    display_columns1.extend([f'{column} Awareness (%)', f'{column} Unawareness (%)'])

print(pivot_table[display_columns1])

Category  Gender     Age_range Ethnicity     State Avg_monthly_income  \
0         Female         26-35     Malay  Selangor    RM2500 – RM4999
1         Female         26-35     Malay  Selangor    RM5000 – RM6999
2         Female         26-35     Malay  Selangor   RM7000 – RM10999
3         Female         26-35     Malay        WP    RM2500 – RM4999
4         Female         26-35     Malay        WP    RM5000 – RM6999
5         Female         26-35     Malay        WP   RM7000 – RM10999
6         Female         36-45     Malay  Selangor    RM2500 – RM4999
7         Female         36-45     Malay  Selangor    RM5000 – RM6999
8         Female         36-45     Malay  Selangor   RM7000 – RM10999
9         Female         36-45     Malay        WP    RM2500 – RM4999
10        Female         36-45     Malay        WP    RM5000 – RM6999
11        Female         36-45     Malay        WP   RM7000 – RM10999
12        Female  46 and above     Malay  Selangor    RM2500 – RM4999
13        Female  46 and above     Malay  Selangor    RM5000 – RM6999
14        Female  46 and above     Malay  Selangor   RM7000 – RM10999
15        Female  46 and above     Malay        WP    RM2500 – RM4999
16        Female  46 and above     Malay        WP    RM5000 – RM6999
17        Female  46 and above     Malay        WP   RM7000 – RM10999

Category  Clarins Brand Awareness (%)  Clarins Brand Unawareness (%)  \
0                            3.089888                      10.674157
1                            0.000000                       1.685393
2                            0.140449                       0.561798
3                            5.477528                      34.129213
4                            7.584270                       3.651685
5                            0.842697                       1.685393
6                            1.544944                       5.056180
7                            3.230337                       0.702247
8                            0.561798                       0.421348
9                            1.544944                       4.634831
10                           3.932584                       2.528090
11                           0.983146                       1.966292
12                           0.280899                       0.280899
13                           0.421348                       0.000000
14                           0.000000                       0.280899
15                           0.140449                       0.702247
16                           0.421348                       0.561798
17                           0.140449                       0.140449

Category  Clinique Brand Awareness (%)  Clinique Brand Unawareness (%)  \
0                             5.617978                        8.146067
1                             0.140449                        1.544944
2                             0.280899                        0.421348
3                             9.269663                       30.337079
4                             7.724719                        3.511236
5                             1.123596                        1.404494
6                             1.825843                        4.775281
7                             3.370787                        0.561798
8                             0.561798                        0.421348
9                             1.825843                        4.353933
10                            4.494382                        1.966292
11                            1.264045                        1.685393
12                            0.280899                        0.280899
13                            0.421348                        0.000000
14                            0.000000                        0.280899
15                            0.140449                        0.702247
16                            0.421348                        0.561798
17                            0.140449                        0.140449

Category  Estée Lauder Brand Awareness (%)  ...  Laneige Brand Awareness (%)  \
0                                 4.494382  ...                     4.213483
1                                 0.421348  ...                     0.000000
2                                 0.280899  ...                     0.140449
3                                 8.005618  ...                    14.887640
4                                 6.320225  ...                     7.584270
5                                 1.264045  ...                     0.702247
6                                 1.123596  ...                     1.404494
7                                 3.089888  ...                     3.089888
8                                 0.561798  ...                     0.561798
9                                 1.825843  ...                     1.685393
10                                4.213483  ...                     4.634831
11                                0.983146  ...                     0.842697
12                                0.280899  ...                     0.280899
13                                0.421348  ...                     0.421348
14                                0.000000  ...                     0.000000
15                                0.140449  ...                     0.000000
16                                0.421348  ...                     0.421348
17                                0.140449  ...                     0.000000

Category  Laneige Brand Unawareness (%)  Shiseido Brand Awareness (%)  \
0                              9.550562                      3.792135
1                              1.685393                      0.561798
2                              0.561798                      0.421348
3                             24.719101                     13.904494
4                              3.651685                      6.179775
5                              1.825843                      0.983146
6                              5.196629                      1.264045
7                              0.842697                      3.230337
8                              0.421348                      0.561798
9                              4.494382                      1.825843
10                             1.825843                      3.651685
11                             2.106742                      1.123596
12                             0.280899                      0.280899
13                             0.000000                      0.421348
14                             0.280899                      0.000000
15                             0.842697                      0.140449
16                             0.561798                      0.421348
17                             0.280899                      0.140449

Category  Shiseido Brand Unawareness (%)  Innisfree Brand Awareness (%)  \
0                               9.971910                       4.494382
1                               1.123596                       0.140449
2                               0.280899                       0.140449
3                              25.702247                      11.095506
4                               5.056180                       6.882022
5                               1.544944                       1.123596
6                               5.337079                       1.544944
7                               0.702247                       3.089888
8                               0.421348                       0.561798
9                               4.353933                       1.825843
10                              2.808989                       3.792135
11                              1.825843                       0.983146
12                              0.280899                       0.280899
13                              0.000000                       0.421348
14                              0.280899                       0.000000
15                              0.702247                       0.000000
16                              0.561798                       0.421348
17                              0.140449                       0.000000

Category  Innisfree Brand Unawareness (%)  SK-II Brand Awareness (%)  \
0                                9.269663                   5.337079
1                                1.544944                   0.561798
2                                0.561798                   0.421348
3                               28.511236                  16.432584
4                                4.353933                   7.865169
5                                1.404494                   1.685393
6                                5.056180                   2.106742
7                                0.842697                   2.949438
8                                0.421348                   0.561798
9                                4.353933                   2.528090
10                               2.668539                   3.370787
11                               1.966292                   1.544944
12                               0.280899                   0.280899
13                               0.000000                   0.421348
14                               0.280899                   0.000000
15                               0.842697                   0.140449
16                               0.561798                   0.421348
17                               0.280899                   0.140449

Category  SK-II Brand Unawareness (%)  Dior Brand Awareness (%)  \
0                            8.426966                  2.808989
1                            1.123596                  0.280899
2                            0.280899                  0.421348
3                           23.174157                  5.617978
4                            3.370787                  3.511236
5                            0.842697                  1.264045
6                            4.494382                  0.983146
7                            0.983146                  3.089888
8                            0.421348                  0.421348
9                            3.651685                  1.825843
10                           3.089888                  4.915730
11                           1.404494                  0.842697
12                           0.280899                  0.280899
13                           0.000000                  0.421348
14                           0.280899                  0.000000
15                           0.702247                  0.000000
16                           0.561798                  0.421348
17                           0.140449                  0.000000

Category  Dior Brand Unawareness (%)
0                          10.955056
1                           1.404494
2                           0.280899
3                          33.988764
4                           7.724719
5                           1.264045
6                           5.617978
7                           0.842697
8                           0.561798
9                           4.353933
10                          1.544944
11                          2.106742
12                          0.280899
13                          0.000000
14                          0.280899
15                          0.842697
16                          0.561798
17                          0.280899

[18 rows x 27 columns]

In [21]:
total_rows = len(df)

# List of columns to process for current usage
usage_columns = [col for col in df.columns if "Current" in col]

# Loop through each column to calculate usage and non-usage percentages
for column in usage_columns:
    if column in pivot_table.columns:
        pivot_table[f'Not Using {column}'] = pivot_table['Response ID'] - pivot_table[column]
        pivot_table[f'{column} Usage (%)'] = (pivot_table[column] / total_rows) * 100
        pivot_table[f'{column} Non-usage (%)'] = (pivot_table[f'Not Using {column}'] / total_rows) * 100

        # Round the percentages to 1 decimal place
        pivot_table[f'{column} Usage (%)'] = pivot_table[f'{column} Usage (%)']
        pivot_table[f'{column} Non-usage (%)'] = pivot_table[f'{column} Non-usage (%)']
    else:
        print(f"Column '{column}' is missing in pivt_table.")

# Drop the original columns after processing
pivot_table.drop(columns=[col for col in usage_columns if col in pivot_table.columns], inplace=True)

# Drop columns starting with "Not Using"
not_using_columns = [col for col in pivot_table.columns if col.startswith('Not Using')]
pivot_table.drop(columns=not_using_columns, inplace=True)

# Define the columns for display, ensuring usage and non-usage are side by side
display_columns = ['Gender', 'Age_range', 'Ethnicity','State','Avg_monthly_income']
for column in usage_columns:
    if f'{column} Usage (%)' in pivot_table.columns and f'{column} Non-usage (%)' in pivot_table.columns:
        display_columns.extend([f'{column} Usage (%)', f'{column} Non-usage (%)'])

print(pivot_table[display_columns])

Category  Gender     Age_range Ethnicity     State Avg_monthly_income  \
0         Female         26-35     Malay  Selangor    RM2500 – RM4999
1         Female         26-35     Malay  Selangor    RM5000 – RM6999
2         Female         26-35     Malay  Selangor   RM7000 – RM10999
3         Female         26-35     Malay        WP    RM2500 – RM4999
4         Female         26-35     Malay        WP    RM5000 – RM6999
5         Female         26-35     Malay        WP   RM7000 – RM10999
6         Female         36-45     Malay  Selangor    RM2500 – RM4999
7         Female         36-45     Malay  Selangor    RM5000 – RM6999
8         Female         36-45     Malay  Selangor   RM7000 – RM10999
9         Female         36-45     Malay        WP    RM2500 – RM4999
10        Female         36-45     Malay        WP    RM5000 – RM6999
11        Female         36-45     Malay        WP   RM7000 – RM10999
12        Female  46 and above     Malay  Selangor    RM2500 – RM4999
13        Female  46 and above     Malay  Selangor    RM5000 – RM6999
14        Female  46 and above     Malay  Selangor   RM7000 – RM10999
15        Female  46 and above     Malay        WP    RM2500 – RM4999
16        Female  46 and above     Malay        WP    RM5000 – RM6999
17        Female  46 and above     Malay        WP   RM7000 – RM10999

Category  Clarins Current Usage (%)  Clarins Current Non-usage (%)  \
0                          0.561798                      13.202247
1                          0.000000                       1.685393
2                          0.000000                       0.702247
3                          1.685393                      37.921348
4                          5.477528                       5.758427
5                          0.140449                       2.387640
6                          0.561798                       6.039326
7                          1.966292                       1.966292
8                          0.140449                       0.842697
9                          0.280899                       5.898876
10                         1.123596                       5.337079
11                         0.421348                       2.528090
12                         0.140449                       0.421348
13                         0.140449                       0.280899
14                         0.000000                       0.280899
15                         0.000000                       0.842697
16                         0.140449                       0.842697
17                         0.000000                       0.280899

Category  Clinique Current Usage (%)  Clinique Current Non-usage (%)  \
0                           2.387640                       11.376404
1                           0.140449                        1.544944
2                           0.000000                        0.702247
3                           2.949438                       36.657303
4                           1.966292                        9.269663
5                           0.280899                        2.247191
6                           0.561798                        6.039326
7                           1.685393                        2.247191
8                           0.140449                        0.842697
9                           0.280899                        5.898876
10                          2.387640                        4.073034
11                          0.421348                        2.528090
12                          0.140449                        0.421348
13                          0.280899                        0.140449
14                          0.000000                        0.280899
15                          0.140449                        0.702247
16                          0.140449                        0.842697
17                          0.000000                        0.280899

Category  Estée Lauder Current Usage (%)  ...  Laneige Current Usage (%)  \
0                               0.842697  ...                   1.264045
1                               0.000000  ...                   0.000000
2                               0.140449  ...                   0.000000
3                               2.247191  ...                   3.089888
4                               0.983146  ...                   1.264045
5                               0.561798  ...                   0.421348
6                               0.140449  ...                   0.140449
7                               1.825843  ...                   2.106742
8                               0.280899  ...                   0.140449
9                               0.421348  ...                   0.842697
10                              1.966292  ...                   2.808989
11                              0.280899  ...                   0.421348
12                              0.000000  ...                   0.000000
13                              0.140449  ...                   0.280899
14                              0.000000  ...                   0.000000
15                              0.000000  ...                   0.000000
16                              0.000000  ...                   0.140449
17                              0.000000  ...                   0.000000

Category  Laneige Current Non-usage (%)  Shiseido Current Usage (%)  \
0                             12.500000                    0.983146
1                              1.685393                    0.421348
2                              0.702247                    0.280899
3                             36.516854                    2.949438
4                              9.971910                    1.685393
5                              2.106742                    0.421348
6                              6.460674                    0.000000
7                              1.825843                    1.825843
8                              0.842697                    0.140449
9                              5.337079                    0.561798
10                             3.651685                    1.264045
11                             2.528090                    0.421348
12                             0.561798                    0.000000
13                             0.140449                    0.140449
14                             0.280899                    0.000000
15                             0.842697                    0.000000
16                             0.842697                    0.000000
17                             0.280899                    0.000000

Category  Shiseido Current Non-usage (%)  Innisfree Current Usage (%)  \
0                              12.780899                     3.230337
1                               1.264045                     0.000000
2                               0.421348                     0.000000
3                              36.657303                     3.370787
4                               9.550562                     1.123596
5                               2.106742                     0.702247
6                               6.601124                     0.421348
7                               2.106742                     2.247191
8                               0.842697                     0.140449
9                               5.617978                     0.983146
10                              5.196629                     1.404494
11                              2.528090                     0.421348
12                              0.561798                     0.000000
13                              0.280899                     0.140449
14                              0.280899                     0.000000
15                              0.842697                     0.000000
16                              0.983146                     0.000000
17                              0.280899                     0.000000

Category  Innisfree Current Non-usage (%)  SK-II Current Usage (%)  \
0                               10.533708                 1.966292
1                                1.685393                 0.561798
2                                0.702247                 0.280899
3                               36.235955                12.640449
4                               10.112360                 2.247191
5                                1.825843                 0.983146
6                                6.179775                 0.842697
7                                1.685393                 1.404494
8                                0.842697                 0.140449
9                                5.196629                 1.404494
10                               5.056180                 1.404494
11                               2.528090                 0.983146
12                               0.561798                 0.000000
13                               0.280899                 0.140449
14                               0.280899                 0.000000
15                               0.842697                 0.000000
16                               0.983146                 0.000000
17                               0.280899                 0.140449

Category  SK-II Current Non-usage (%)  Dior Current Usage (%)  \
0                           11.797753                0.280899
1                            1.123596                0.000000
2                            0.421348                0.000000
3                           26.966292                1.685393
4                            8.988764                1.966292
5                            1.544944                0.140449
6                            5.758427                0.140449
7                            2.528090                2.247191
8                            0.842697                0.280899
9                            4.775281                0.421348
10                           5.056180                3.932584
11                           1.966292                0.421348
12                           0.561798                0.000000
13                           0.280899                0.140449
14                           0.280899                0.000000
15                           0.842697                0.000000
16                           0.983146                0.000000
17                           0.140449                0.000000

Category  Dior Current Non-usage (%)
0                          13.483146
1                           1.685393
2                           0.702247
3                          37.921348
4                           9.269663
5                           2.387640
6                           6.460674
7                           1.685393
8                           0.702247
9                           5.758427
10                          2.528090
11                          2.528090
12                          0.561798
13                          0.280899
14                          0.280899
15                          0.842697
16                          0.983146
17                          0.280899

[18 rows x 27 columns]

In [22]:
total_rows = len(df)

# List of columns to process for purchase likelihood
purchase_columns = [col for col in df.columns if "Purchase" in col]

# Loop through each column to calculate likely and unlikely percentages
for column in purchase_columns:
    if column in df.columns:
        # Group and sum the purchase likelihood count per demographic group
        purchase_counts = df.groupby(['Gender', 'Age_range', 'Ethnicity', 'State', 'Avg_monthly_income'])[column].sum().reset_index()

        # Rename the column for clarity
        purchase_counts.rename(columns={column: f'{column}_count'}, inplace=True)

        # Merge into pivot_table
        pivot_table = pivot_table.merge(purchase_counts, on=['Gender', 'Age_range', 'Ethnicity', 'State', 'Avg_monthly_income'], how='left')

        # Fill NaNs with 0
        pivot_table[f'{column}_count'] = pivot_table[f'{column}_count'].fillna(0)

        # Calculate percentages
        pivot_table[f'{column} (Likely)'] = (pivot_table[f'{column}_count'] / total_rows) * 100
        pivot_table[f'{column} (Unlikely)'] = ((pivot_table['Response ID'] - pivot_table[f'{column}_count']) / total_rows) * 100

        # Round the results
        pivot_table[f'{column} (Likely)'] = pivot_table[f'{column} (Likely)']
        pivot_table[f'{column} (Unlikely)'] = pivot_table[f'{column} (Unlikely)']
    else:
        print(f"Column '{column}' is missing in df.")

# Drop intermediate count columns
intermediate_columns = [f'{col}_count' for col in purchase_columns if f'{col}_count' in pivot_table.columns]
pivot_table.drop(columns=intermediate_columns, inplace=True)

# Define display columns
display_columns = ['Gender', 'Age_range', 'Ethnicity', 'State', 'Avg_monthly_income']
for column in purchase_columns:
    if f'{column} (Likely)' in pivot_table.columns and f'{column} (Unlikely)' in pivot_table.columns:
        display_columns.extend([f'{column} (Likely)', f'{column} (Unlikely)'])

print(pivot_table[display_columns])

    Gender     Age_range Ethnicity     State Avg_monthly_income  \
0   Female         26-35     Malay  Selangor    RM2500 – RM4999
1   Female         26-35     Malay  Selangor    RM5000 – RM6999
2   Female         26-35     Malay  Selangor   RM7000 – RM10999
3   Female         26-35     Malay        WP    RM2500 – RM4999
4   Female         26-35     Malay        WP    RM5000 – RM6999
5   Female         26-35     Malay        WP   RM7000 – RM10999
6   Female         36-45     Malay  Selangor    RM2500 – RM4999
7   Female         36-45     Malay  Selangor    RM5000 – RM6999
8   Female         36-45     Malay  Selangor   RM7000 – RM10999
9   Female         36-45     Malay        WP    RM2500 – RM4999
10  Female         36-45     Malay        WP    RM5000 – RM6999
11  Female         36-45     Malay        WP   RM7000 – RM10999
12  Female  46 and above     Malay  Selangor    RM2500 – RM4999
13  Female  46 and above     Malay  Selangor    RM5000 – RM6999
14  Female  46 and above     Malay  Selangor   RM7000 – RM10999
15  Female  46 and above     Malay        WP    RM2500 – RM4999
16  Female  46 and above     Malay        WP    RM5000 – RM6999
17  Female  46 and above     Malay        WP   RM7000 – RM10999

    SK-II Purchase Likelihood (Likely)  SK-II Purchase Likelihood (Unlikely)  \
0                             1.264045                             12.500000
1                             0.421348                              1.264045
2                             0.000000                              0.702247
3                            10.814607                             28.792135
4                             1.123596                             10.112360
5                             0.561798                              1.966292
6                             0.561798                              6.039326
7                             0.280899                              3.651685
8                             0.000000                              0.983146
9                             0.983146                              5.196629
10                            0.140449                              6.320225
11                            0.421348                              2.528090
12                            0.000000                              0.561798
13                            0.000000                              0.421348
14                            0.000000                              0.280899
15                            0.000000                              0.842697
16                            0.000000                              0.983146
17                            0.140449                              0.140449

    Kiehl’s Purchase Likelihood (Likely)  \
0                               0.842697
1                               0.000000
2                               0.140449
3                               1.123596
4                               0.842697
5                               0.000000
6                               0.561798
7                               0.842697
8                               0.000000
9                               0.561798
10                              0.842697
11                              0.000000
12                              0.000000
13                              0.000000
14                              0.000000
15                              0.000000
16                              0.000000
17                              0.000000

    Kiehl’s Purchase Likelihood (Unlikely)  \
0                                12.921348
1                                 1.685393
2                                 0.561798
3                                38.483146
4                                10.393258
5                                 2.528090
6                                 6.039326
7                                 3.089888
8                                 0.983146
9                                 5.617978
10                                5.617978
11                                2.949438
12                                0.561798
13                                0.421348
14                                0.280899
15                                0.842697
16                                0.983146
17                                0.280899

    Innisfree Purchase Likelihood (Likely)  ...  \
0                                 2.387640  ...
1                                 0.000000  ...
2                                 0.000000  ...
3                                 2.247191  ...
4                                 0.280899  ...
5                                 0.280899  ...
6                                 0.280899  ...
7                                 0.000000  ...
8                                 0.140449  ...
9                                 0.702247  ...
10                                0.000000  ...
11                                0.140449  ...
12                                0.000000  ...
13                                0.000000  ...
14                                0.000000  ...
15                                0.000000  ...
16                                0.000000  ...
17                                0.000000  ...

    Estée Lauder Purchase Likelihood (Likely)  \
0                                    0.280899
1                                    0.000000
2                                    0.140449
3                                    0.983146
4                                    0.000000
5                                    0.421348
6                                    0.000000
7                                    0.561798
8                                    0.140449
9                                    0.000000
10                                   0.983146
11                                   0.000000
12                                   0.000000
13                                   0.000000
14                                   0.000000
15                                   0.000000
16                                   0.000000
17                                   0.000000

    Estée Lauder Purchase Likelihood (Unlikely)  \
0                                     13.483146
1                                      1.685393
2                                      0.561798
3                                     38.623596
4                                     11.235955
5                                      2.106742
6                                      6.601124
7                                      3.370787
8                                      0.842697
9                                      6.179775
10                                     5.477528
11                                     2.949438
12                                     0.561798
13                                     0.421348
14                                     0.280899
15                                     0.842697
16                                     0.983146
17                                     0.280899

    Clinique Purchase Likelihood (Likely)  \
0                                1.825843
1                                0.140449
2                                0.000000
3                                1.404494
4                                0.842697
5                                0.140449
6                                0.280899
7                                1.264045
8                                0.140449
9                                0.140449
10                               1.966292
11                               0.000000
12                               0.000000
13                               0.140449
14                               0.000000
15                               0.140449
16                               0.000000
17                               0.000000

    Clinique Purchase Likelihood (Unlikely)  \
0                                 11.938202
1                                  1.544944
2                                  0.702247
3                                 38.202247
4                                 10.393258
5                                  2.387640
6                                  6.320225
7                                  2.668539
8                                  0.842697
9                                  6.039326
10                                 4.494382
11                                 2.949438
12                                 0.561798
13                                 0.280899
14                                 0.280899
15                                 0.702247
16                                 0.983146
17                                 0.280899

    L’Occitane Purchase Likelihood (Likely)  \
0                                  0.000000
1                                  0.000000
2                                  0.000000
3                                  0.000000
4                                  0.561798
5                                  0.000000
6                                  0.140449
7                                  0.140449
8                                  0.000000
9                                  0.140449
10                                 0.421348
11                                 0.140449
12                                 0.000000
13                                 0.000000
14                                 0.000000
15                                 0.000000
16                                 0.000000
17                                 0.000000

    L’Occitane Purchase Likelihood (Unlikely)  \
0                                   13.764045
1                                    1.685393
2                                    0.702247
3                                   39.606742
4                                   10.674157
5                                    2.528090
6                                    6.460674
7                                    3.792135
8                                    0.983146
9                                    6.039326
10                                   6.039326
11                                   2.808989
12                                   0.561798
13                                   0.421348
14                                   0.280899
15                                   0.842697
16                                   0.983146
17                                   0.280899

    Lancôme Purchase Likelihood (Likely)  \
0                               0.140449
1                               0.000000
2                               0.000000
3                               0.702247
4                               0.000000
5                               0.000000
6                               0.140449
7                               0.140449
8                               0.000000
9                               0.000000
10                              0.561798
11                              0.421348
12                              0.140449
13                              0.280899
14                              0.000000
15                              0.000000
16                              0.421348
17                              0.000000

    Lancôme Purchase Likelihood (Unlikely)  \
0                                13.623596
1                                 1.685393
2                                 0.702247
3                                38.904494
4                                11.235955
5                                 2.528090
6                                 6.460674
7                                 3.792135
8                                 0.983146
9                                 6.179775
10                                5.898876
11                                2.528090
12                                0.421348
13                                0.140449
14                                0.280899
15                                0.842697
16                                0.561798
17                                0.280899

    Shiseido Purchase Likelihood (Likely)  \
0                                0.140449
1                                0.140449
2                                0.140449
3                                1.123596
4                                0.702247
5                                0.280899
6                                0.000000
7                                0.000000
8                                0.000000
9                                0.000000
10                               0.000000
11                               0.000000
12                               0.000000
13                               0.000000
14                               0.000000
15                               0.000000
16                               0.000000
17                               0.000000

    Shiseido Purchase Likelihood (Unlikely)
0                                 13.623596
1                                  1.544944
2                                  0.561798
3                                 38.483146
4                                 10.533708
5                                  2.247191
6                                  6.601124
7                                  3.932584
8                                  0.983146
9                                  6.179775
10                                 6.460674
11                                 2.949438
12                                 0.561798
13                                 0.421348
14                                 0.280899
15                                 0.842697
16                                 0.983146
17                                 0.280899

[18 rows x 27 columns]

In [23]:
# total_rows = len(df)

# # List of columns to process for current usage
# purchase_columns = [col for col in df.columns if "Purchase" in col]

# # Loop through each column to calculate usage and non-usage percentages
# for column in purchase_columns:
#     if column in pivot_table.columns:
#         pivot_table[f'Not Purchase {column}'] = pivot_table['Response ID'] - pivot_table[column]
#         pivot_table[f'{column} (Likely)'] = (pivot_table[column] / total_rows) * 100
#         pivot_table[f'{column} (Unlikely)'] = (pivot_table[f'Not Purchase {column}'] / total_rows) * 100

#         # Round the percentages to 1 decimal place
#         pivot_table[f'{column} (Likely)'] = pivot_table[f'{column} (Likely)'].round(1)
#         pivot_table[f'{column} (Unlikely)'] = pivot_table[f'{column} (Unlikely)'].round(1)
#     else:
#         print(f"Column '{column}' is missing in pivt_table.")

# # Drop the original columns after processing
# pivot_table.drop(columns=[col for col in purchase_columns if col in pivot_table.columns], inplace=True)

# # Drop columns starting with "Not Purchase"
# not_using_columns = [col for col in pivot_table.columns if col.startswith('Not Purchase')]
# pivot_table.drop(columns=not_using_columns, inplace=True)

# # Define the columns for display, ensuring usage and non-usage are side by side
# display_columns = ['Gender', 'Age_range', 'Ethnicity','State','Avg_monthly_income']
# for column in purchase_columns:
#     if f'{column} (Likely)' in pivot_table.columns and f'{column} (Unlikely)' in pivot_table.columns:
#         display_columns.extend([f'{column} (Likely)', f'{column} (Unlikely)'])

# print(pivot_table[display_columns])

In [24]:
pivot_table.shape

(18, 83)

In [25]:
pivot_table = pivot_table.drop(columns=['Response ID'])
pivot_table.columns

Index(['Gender', 'Age_range', 'Ethnicity', 'State', 'Avg_monthly_income',
       'Clarins Purchase Likelihood', 'Clinique Purchase Likelihood',
       'Dior Purchase Likelihood', 'Estée Lauder Purchase Likelihood',
       'Innisfree Purchase Likelihood', 'Kiehl’s Purchase Likelihood',
       'Lancôme Purchase Likelihood', 'Laneige Purchase Likelihood',
       'L’Occitane Purchase Likelihood', 'SK-II Purchase Likelihood',
       'Shiseido Purchase Likelihood', 'Clarins Brand Awareness (%)',
       'Clarins Brand Unawareness (%)', 'Clinique Brand Awareness (%)',
       'Clinique Brand Unawareness (%)', 'Estée Lauder Brand Awareness (%)',
       'Estée Lauder Brand Unawareness (%)', 'Kiehl’s Brand Awareness (%)',
       'Kiehl’s Brand Unawareness (%)', 'L’Occitane Brand Awareness (%)',
       'L’Occitane Brand Unawareness (%)', 'Lancôme Brand Awareness (%)',
       'Lancôme Brand Unawareness (%)', 'Laneige Brand Awareness (%)',
       'Laneige Brand Unawareness (%)', 'Shiseido Brand Awareness (%)',
       'Shiseido Brand Unawareness (%)', 'Innisfree Brand Awareness (%)',
       'Innisfree Brand Unawareness (%)', 'SK-II Brand Awareness (%)',
       'SK-II Brand Unawareness (%)', 'Dior Brand Awareness (%)',
       'Dior Brand Unawareness (%)', 'Clarins Current Usage (%)',
       'Clarins Current Non-usage (%)', 'Clinique Current Usage (%)',
       'Clinique Current Non-usage (%)', 'Estée Lauder Current Usage (%)',
       'Estée Lauder Current Non-usage (%)', 'Kiehl’s Current Usage (%)',
       'Kiehl’s Current Non-usage (%)', 'L’Occitane Current Usage (%)',
       'L’Occitane Current Non-usage (%)', 'Lancôme Current Usage (%)',
       'Lancôme Current Non-usage (%)', 'Laneige Current Usage (%)',
       'Laneige Current Non-usage (%)', 'Shiseido Current Usage (%)',
       'Shiseido Current Non-usage (%)', 'Innisfree Current Usage (%)',
       'Innisfree Current Non-usage (%)', 'SK-II Current Usage (%)',
       'SK-II Current Non-usage (%)', 'Dior Current Usage (%)',
       'Dior Current Non-usage (%)', 'SK-II Purchase Likelihood (Likely)',
       'SK-II Purchase Likelihood (Unlikely)',
       'Kiehl’s Purchase Likelihood (Likely)',
       'Kiehl’s Purchase Likelihood (Unlikely)',
       'Innisfree Purchase Likelihood (Likely)',
       'Innisfree Purchase Likelihood (Unlikely)',
       'Laneige Purchase Likelihood (Likely)',
       'Laneige Purchase Likelihood (Unlikely)',
       'Dior Purchase Likelihood (Likely)',
       'Dior Purchase Likelihood (Unlikely)',
       'Clarins Purchase Likelihood (Likely)',
       'Clarins Purchase Likelihood (Unlikely)',
       'Estée Lauder Purchase Likelihood (Likely)',
       'Estée Lauder Purchase Likelihood (Unlikely)',
       'Clinique Purchase Likelihood (Likely)',
       'Clinique Purchase Likelihood (Unlikely)',
       'L’Occitane Purchase Likelihood (Likely)',
       'L’Occitane Purchase Likelihood (Unlikely)',
       'Lancôme Purchase Likelihood (Likely)',
       'Lancôme Purchase Likelihood (Unlikely)',
       'Shiseido Purchase Likelihood (Likely)',
       'Shiseido Purchase Likelihood (Unlikely)'],
      dtype='object')

In [26]:
merged_cleanser = pivot_table

merged_cleanser.to_csv('pivot-loki-cleanser.csv',float_format='%.1f', index=False)
merged_cleanser.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 82 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Gender                                       18 non-null     object
 1   Age_range                                    18 non-null     object
 2   Ethnicity                                    18 non-null     object
 3   State                                        18 non-null     object
 4   Avg_monthly_income                           18 non-null     object
 5   Clarins Purchase Likelihood                  18 non-null     int64
 6   Clinique Purchase Likelihood                 18 non-null     int64
 7   Dior Purchase Likelihood                     18 non-null     int64
 8   Estée Lauder Purchase Likelihood             18 non-null     int64
 9   Innisfree Purchase Likelihood                18 non-null     int64
 10  Kiehl’s Purchase Likelihood                  18 non-null     int64
 11  Lancôme Purchase Likelihood                  18 non-null     int64
 12  Laneige Purchase Likelihood                  18 non-null     int64
 13  L’Occitane Purchase Likelihood               18 non-null     int64
 14  SK-II Purchase Likelihood                    18 non-null     int64
 15  Shiseido Purchase Likelihood                 18 non-null     int64
 16  Clarins Brand Awareness (%)                  18 non-null     float64
 17  Clarins Brand Unawareness (%)                18 non-null     float64
 18  Clinique Brand Awareness (%)                 18 non-null     float64
 19  Clinique Brand Unawareness (%)               18 non-null     float64
 20  Estée Lauder Brand Awareness (%)             18 non-null     float64
 21  Estée Lauder Brand Unawareness (%)           18 non-null     float64
 22  Kiehl’s Brand Awareness (%)                  18 non-null     float64
 23  Kiehl’s Brand Unawareness (%)                18 non-null     float64
 24  L’Occitane Brand Awareness (%)               18 non-null     float64
 25  L’Occitane Brand Unawareness (%)             18 non-null     float64
 26  Lancôme Brand Awareness (%)                  18 non-null     float64
 27  Lancôme Brand Unawareness (%)                18 non-null     float64
 28  Laneige Brand Awareness (%)                  18 non-null     float64
 29  Laneige Brand Unawareness (%)                18 non-null     float64
 30  Shiseido Brand Awareness (%)                 18 non-null     float64
 31  Shiseido Brand Unawareness (%)               18 non-null     float64
 32  Innisfree Brand Awareness (%)                18 non-null     float64
 33  Innisfree Brand Unawareness (%)              18 non-null     float64
 34  SK-II Brand Awareness (%)                    18 non-null     float64
 35  SK-II Brand Unawareness (%)                  18 non-null     float64
 36  Dior Brand Awareness (%)                     18 non-null     float64
 37  Dior Brand Unawareness (%)                   18 non-null     float64
 38  Clarins Current Usage (%)                    18 non-null     float64
 39  Clarins Current Non-usage (%)                18 non-null     float64
 40  Clinique Current Usage (%)                   18 non-null     float64
 41  Clinique Current Non-usage (%)               18 non-null     float64
 42  Estée Lauder Current Usage (%)               18 non-null     float64
 43  Estée Lauder Current Non-usage (%)           18 non-null     float64
 44  Kiehl’s Current Usage (%)                    18 non-null     float64
 45  Kiehl’s Current Non-usage (%)                18 non-null     float64
 46  L’Occitane Current Usage (%)                 18 non-null     float64
 47  L’Occitane Current Non-usage (%)             18 non-null     float64
 48  Lancôme Current Usage (%)                    18 non-null     float64
 49  Lancôme Current Non-usage (%)                18 non-null     float64
 50  Laneige Current Usage (%)                    18 non-null     float64
 51  Laneige Current Non-usage (%)                18 non-null     float64
 52  Shiseido Current Usage (%)                   18 non-null     float64
 53  Shiseido Current Non-usage (%)               18 non-null     float64
 54  Innisfree Current Usage (%)                  18 non-null     float64
 55  Innisfree Current Non-usage (%)              18 non-null     float64
 56  SK-II Current Usage (%)                      18 non-null     float64
 57  SK-II Current Non-usage (%)                  18 non-null     float64
 58  Dior Current Usage (%)                       18 non-null     float64
 59  Dior Current Non-usage (%)                   18 non-null     float64
 60  SK-II Purchase Likelihood (Likely)           18 non-null     float64
 61  SK-II Purchase Likelihood (Unlikely)         18 non-null     float64
 62  Kiehl’s Purchase Likelihood (Likely)         18 non-null     float64
 63  Kiehl’s Purchase Likelihood (Unlikely)       18 non-null     float64
 64  Innisfree Purchase Likelihood (Likely)       18 non-null     float64
 65  Innisfree Purchase Likelihood (Unlikely)     18 non-null     float64
 66  Laneige Purchase Likelihood (Likely)         18 non-null     float64
 67  Laneige Purchase Likelihood (Unlikely)       18 non-null     float64
 68  Dior Purchase Likelihood (Likely)            18 non-null     float64
 69  Dior Purchase Likelihood (Unlikely)          18 non-null     float64
 70  Clarins Purchase Likelihood (Likely)         18 non-null     float64
 71  Clarins Purchase Likelihood (Unlikely)       18 non-null     float64
 72  Estée Lauder Purchase Likelihood (Likely)    18 non-null     float64
 73  Estée Lauder Purchase Likelihood (Unlikely)  18 non-null     float64
 74  Clinique Purchase Likelihood (Likely)        18 non-null     float64
 75  Clinique Purchase Likelihood (Unlikely)      18 non-null     float64
 76  L’Occitane Purchase Likelihood (Likely)      18 non-null     float64
 77  L’Occitane Purchase Likelihood (Unlikely)    18 non-null     float64
 78  Lancôme Purchase Likelihood (Likely)         18 non-null     float64
 79  Lancôme Purchase Likelihood (Unlikely)       18 non-null     float64
 80  Shiseido Purchase Likelihood (Likely)        18 non-null     float64
 81  Shiseido Purchase Likelihood (Unlikely)      18 non-null     float64
dtypes: float64(66), int64(11), object(5)
memory usage: 11.7+ KB

### Preparing each df for each sheets in xlsx

In [27]:
columns_to_process1 = merged_cleanser.columns[0:5].tolist() + [col for col in merged_cleanser.columns if "Current Usage (%)" in col]
columns_to_process1

['Gender',
 'Age_range',
 'Ethnicity',
 'State',
 'Avg_monthly_income',
 'Clarins Current Usage (%)',
 'Clinique Current Usage (%)',
 'Estée Lauder Current Usage (%)',
 'Kiehl’s Current Usage (%)',
 'L’Occitane Current Usage (%)',
 'Lancôme Current Usage (%)',
 'Laneige Current Usage (%)',
 'Shiseido Current Usage (%)',
 'Innisfree Current Usage (%)',
 'SK-II Current Usage (%)',
 'Dior Current Usage (%)']

In [28]:
columns_to_process2 = merged_cleanser.columns[0:5].tolist() + [col for col in merged_cleanser.columns if "Current Non-usage (%)" in col]
columns_to_process2

['Gender',
 'Age_range',
 'Ethnicity',
 'State',
 'Avg_monthly_income',
 'Clarins Current Non-usage (%)',
 'Clinique Current Non-usage (%)',
 'Estée Lauder Current Non-usage (%)',
 'Kiehl’s Current Non-usage (%)',
 'L’Occitane Current Non-usage (%)',
 'Lancôme Current Non-usage (%)',
 'Laneige Current Non-usage (%)',
 'Shiseido Current Non-usage (%)',
 'Innisfree Current Non-usage (%)',
 'SK-II Current Non-usage (%)',
 'Dior Current Non-usage (%)']

In [29]:
columns_to_process3 = merged_cleanser.columns[0:5].tolist() + [col for col in merged_cleanser.columns if "Purchase Likelihood (Likely)" in col]
columns_to_process3

['Gender',
 'Age_range',
 'Ethnicity',
 'State',
 'Avg_monthly_income',
 'SK-II Purchase Likelihood (Likely)',
 'Kiehl’s Purchase Likelihood (Likely)',
 'Innisfree Purchase Likelihood (Likely)',
 'Laneige Purchase Likelihood (Likely)',
 'Dior Purchase Likelihood (Likely)',
 'Clarins Purchase Likelihood (Likely)',
 'Estée Lauder Purchase Likelihood (Likely)',
 'Clinique Purchase Likelihood (Likely)',
 'L’Occitane Purchase Likelihood (Likely)',
 'Lancôme Purchase Likelihood (Likely)',
 'Shiseido Purchase Likelihood (Likely)']

In [30]:
columns_to_process4 = merged_cleanser.columns[0:5].tolist() + [col for col in merged_cleanser.columns if "Purchase Likelihood (Unlikely)" in col]
columns_to_process4

['Gender',
 'Age_range',
 'Ethnicity',
 'State',
 'Avg_monthly_income',
 'SK-II Purchase Likelihood (Unlikely)',
 'Kiehl’s Purchase Likelihood (Unlikely)',
 'Innisfree Purchase Likelihood (Unlikely)',
 'Laneige Purchase Likelihood (Unlikely)',
 'Dior Purchase Likelihood (Unlikely)',
 'Clarins Purchase Likelihood (Unlikely)',
 'Estée Lauder Purchase Likelihood (Unlikely)',
 'Clinique Purchase Likelihood (Unlikely)',
 'L’Occitane Purchase Likelihood (Unlikely)',
 'Lancôme Purchase Likelihood (Unlikely)',
 'Shiseido Purchase Likelihood (Unlikely)']

In [31]:
columns_to_process5 = merged_cleanser.columns[0:5].tolist() + [col for col in merged_cleanser.columns if "Awareness" in col]
columns_to_process5

['Gender',
 'Age_range',
 'Ethnicity',
 'State',
 'Avg_monthly_income',
 'Clarins Brand Awareness (%)',
 'Clinique Brand Awareness (%)',
 'Estée Lauder Brand Awareness (%)',
 'Kiehl’s Brand Awareness (%)',
 'L’Occitane Brand Awareness (%)',
 'Lancôme Brand Awareness (%)',
 'Laneige Brand Awareness (%)',
 'Shiseido Brand Awareness (%)',
 'Innisfree Brand Awareness (%)',
 'SK-II Brand Awareness (%)',
 'Dior Brand Awareness (%)']

In [32]:
columns_to_process6 = merged_cleanser.columns[0:5].tolist() + [col for col in merged_cleanser.columns if "Unawareness" in col]
columns_to_process6

['Gender',
 'Age_range',
 'Ethnicity',
 'State',
 'Avg_monthly_income',
 'Clarins Brand Unawareness (%)',
 'Clinique Brand Unawareness (%)',
 'Estée Lauder Brand Unawareness (%)',
 'Kiehl’s Brand Unawareness (%)',
 'L’Occitane Brand Unawareness (%)',
 'Lancôme Brand Unawareness (%)',
 'Laneige Brand Unawareness (%)',
 'Shiseido Brand Unawareness (%)',
 'Innisfree Brand Unawareness (%)',
 'SK-II Brand Unawareness (%)',
 'Dior Brand Unawareness (%)']

In [33]:
# Create DataFrames for each set of columns
df1 = merged_cleanser[columns_to_process1]
df2 = merged_cleanser[columns_to_process2]
df3 = merged_cleanser[columns_to_process3]
df4 = merged_cleanser[columns_to_process4]
df5 = merged_cleanser[columns_to_process5]
df6 = merged_cleanser[columns_to_process6]

In [34]:
df1 = df1.melt(id_vars=['Gender','Age_range','Ethnicity','State','Avg_monthly_income'], var_name='Brand', value_name='Percentage')

df1['Brand'] = df1['Brand'].str.replace(
    "Current Usage (%)", 
    "", regex=False
)

df1.tail(2)

,Gender,Age_range,Ethnicity,State,Avg_monthly_income,Brand,Percentage
196,Female,46 and above,Malay,WP,RM5000 – RM6999,Dior,0.0
197,Female,46 and above,Malay,WP,RM7000 – RM10999,Dior,0.0

In [35]:
df2 = df2.melt(id_vars=['Gender','Age_range','Ethnicity','State','Avg_monthly_income'], var_name='Brand', value_name='Percentage')

df2['Brand'] = df2['Brand'].str.replace(
    "Current Non-usage (%)", 
    "", regex=False
)

df2.tail(2)

,Gender,Age_range,Ethnicity,State,Avg_monthly_income,Brand,Percentage
196,Female,46 and above,Malay,WP,RM5000 – RM6999,Dior,0.983146
197,Female,46 and above,Malay,WP,RM7000 – RM10999,Dior,0.280899

In [36]:
df3 = df3.melt(id_vars=['Gender','Age_range','Ethnicity','State','Avg_monthly_income'], var_name='Brand', value_name='Percentage')

df3['Brand'] = df3['Brand'].str.replace(
    "Purchase Likelihood (Likely)", 
    "", regex=False
)

df3.tail(2)

,Gender,Age_range,Ethnicity,State,Avg_monthly_income,Brand,Percentage
196,Female,46 and above,Malay,WP,RM5000 – RM6999,Shiseido,0.0
197,Female,46 and above,Malay,WP,RM7000 – RM10999,Shiseido,0.0

In [37]:
df4 = df4.melt(id_vars=['Gender','Age_range','Ethnicity','State','Avg_monthly_income'], var_name='Brand', value_name='Percentage')

df4['Brand'] = df4['Brand'].str.replace(
    "Purchase Likelihood (Unlikely)", 
    "", regex=False
)

df4.tail(2)

,Gender,Age_range,Ethnicity,State,Avg_monthly_income,Brand,Percentage
196,Female,46 and above,Malay,WP,RM5000 – RM6999,Shiseido,0.983146
197,Female,46 and above,Malay,WP,RM7000 – RM10999,Shiseido,0.280899

In [38]:
df5 = df5.melt(id_vars=['Gender','Age_range','Ethnicity','State','Avg_monthly_income'], var_name='Brand', value_name='Percentage')

df5['Brand'] = df5['Brand'].str.replace(
    "Brand Awareness (%)", 
    "", regex=False
)

df5.tail(2)

,Gender,Age_range,Ethnicity,State,Avg_monthly_income,Brand,Percentage
196,Female,46 and above,Malay,WP,RM5000 – RM6999,Dior,0.421348
197,Female,46 and above,Malay,WP,RM7000 – RM10999,Dior,0.000000

In [39]:
df6 = df6.melt(id_vars=['Gender','Age_range','Ethnicity','State','Avg_monthly_income'], var_name='Brand', value_name='Percentage')

df6['Brand'] = df6['Brand'].str.replace(
    "Brand Unawareness (%)", 
    "", regex=False
)

df6.tail(2)

,Gender,Age_range,Ethnicity,State,Avg_monthly_income,Brand,Percentage
196,Female,46 and above,Malay,WP,RM5000 – RM6999,Dior,0.561798
197,Female,46 and above,Malay,WP,RM7000 – RM10999,Dior,0.280899

### Composite key creation and save into another excel file

In [40]:
# # Dictionary to store DataFrames with their respective attributes
# dataframes = {
#     'Current Usage': df1,
#     'Current Non-usage': df2,
#     'Purchase Likelihood (Likely)': df3,
#     'Purchase Likelihood (Unlikely)': df4,
#     'Awareness': df5,
#     'Unawareness': df6
# }

# def add_category_and_attribute(df, attribute_name):
#     df['Category'] = 'Cleaner'
#     df['Country'] = 'Malaysia'
#     df['Year'] = 2022
#     df['Attributes'] = attribute_name
#     return df

# # Process all DataFrames and filter out empty ones
# processed_dfs = [add_category_and_attribute(df, name) for name, df in dataframes.items() if df is not None and not df.empty]

# # Concatenate all DataFrames into a single DataFrame
# final_df = pd.concat(processed_dfs, ignore_index=True) if processed_dfs else None

# # Generate Composite Key after merging
# if final_df is not None:
#     # Ensure all columns in the composite key are strings
#     final_df['Composite_Key'] = (
#         final_df['Ethnicity'].astype(str) + '_' +
#         # final_df['Brand'].astype(str) + '_' +
#         final_df['Age_range'].astype(str) + '_' +
#         final_df['Gender'].astype(str) + '_' +
#         final_df['Avg_monthly_income'].astype(str) + '_' +
#         final_df['State'].astype(str)
#         # final_df['Category'].astype(str) + '_' +
#         # final_df['Country'].astype(str) + '_' +
#         # final_df['Year'].astype(str) + '_' +
#         # final_df['Attributes'].astype(str)
#     )

# print(final_df['Attributes'].value_counts())

In [41]:
# Dictionary to store DataFrames with their respective attributes
dataframes = {
    'Current Usage': df1,
    'Current Non-usage': df2,
    'Purchase Likelihood (Likely)': df3,
    'Purchase Likelihood (Unlikely)': df4,
    'Awareness': df5,
    'Unawareness': df6
}

def add_category_and_attribute(df, attribute_name):
    df['Category'] = 'Cleanser'
    df['Country'] = 'Malaysia'
    df['Year'] = 2020
    df['Attributes'] = attribute_name
    return df

# Process all DataFrames and filter out empty ones
processed_dfs = [add_category_and_attribute(df, name) for name, df in dataframes.items() if df is not None and not df.empty]

# Concatenate all DataFrames into a single DataFrame
final_df = pd.concat(processed_dfs, ignore_index=True) if processed_dfs else None

# Generate Composite Key after merging
if final_df is not None:
    # Ensure all columns in the composite key are strings
    final_df['Composite_Key'] = (
        final_df['Ethnicity'].astype(str) + '_' +
        # final_df['Brand'].astype(str) + '_' +
        final_df['Age_range'].astype(str) + '_' +
        final_df['Gender'].astype(str) + '_' +
        final_df['Avg_monthly_income'].astype(str) + '_' +
        final_df['State'].astype(str)
        # final_df['Category'].astype(str) + '_' +
        # final_df['Country'].astype(str) + '_' +
        # final_df['Year'].astype(str) + '_' +
        # final_df['Attributes'].astype(str)
    )
    
    # Write to Excel
#     final_df.to_excel('cleanser-loki-final.xlsx', sheet_name='Cleaner', index=False)
#     print("Excel file created successfully!")
# else:
#     print("No valid DataFrames to write.")

# # Define the output directory
# output_dir = Path(r"C:\Users\aisar\OneDrive\Documents\Mobile-Data-App\BLS\CLEANED")
# output_dir.mkdir(parents=True, exist_ok=True)  # Ensure the directory exists

# # Define the file path
# output_file = output_dir / "maxis-final.xlsx"

# # Write to Excel
# final_df.to_excel(output_file, sheet_name='Maxis', float_format='%.1f', index=False)
# print(f"Excel file created successfully: {output_file}")

In [42]:
# Remove rows where Percentage is 0
final_df = final_df[final_df['Percentage'] != 0]

# Write to Excel
final_df.to_excel('Cleanser-loki-final.xlsx', sheet_name='Cleanser', index=False)
print("Excel file created successfully!")

Excel file created successfully!

In [43]:
final_df['Percentage'] = pd.to_numeric(final_df['Percentage'], errors='coerce')
attribute_percentages = final_df.groupby('Attributes')['Percentage'].sum().reset_index()
attribute_percentages['Percentage'] = attribute_percentages['Percentage'].round(1)
print(attribute_percentages)

                       Attributes  Percentage
0                       Awareness       390.3
1               Current Non-usage       952.9
2                   Current Usage       147.1
3    Purchase Likelihood (Likely)        59.3
4  Purchase Likelihood (Unlikely)      1040.7
5                     Unawareness       709.7

In [44]:
import pandas as pd

# Ensure Percentage is numeric and handle NaNs
final_df['Percentage'] = pd.to_numeric(final_df['Percentage'], errors='coerce')

# Create pivot table with 0 for missing values
pivot = final_df.pivot_table(
    index='Attributes',
    columns='Brand',
    values='Percentage',
    aggfunc='sum',
    fill_value=0,  # Critical for matching Excel's behavior
    margins=True,
    margins_name='Grand Total'
).round(1)

# Reset index/columns for clarity
pivot = pivot.rename_axis('Row Labels', axis=0).rename_axis('Column Labels', axis=1)
print(pivot)

Column Labels                   Clarins   Clinique   Dior   Estée Lauder   \
Row Labels
Awareness                           30.3       38.9   27.1           34.0
Current Non-usage                   87.2       86.1   88.3           90.2
Current Usage                       12.8       13.9   11.7            9.8
Purchase Likelihood (Likely)         6.6        8.4    1.4            3.5
Purchase Likelihood (Unlikely)      93.4       91.6   98.6           96.5
Unawareness                         69.7       61.1   72.9           66.0
Grand Total                        300.0      300.0  300.0          300.0

Column Labels                   Innisfree   Kiehl’s   Lancôme   Laneige   \
Row Labels
Awareness                             36.8      30.8      34.7      40.9
Current Non-usage                     85.8      87.1      87.1      87.1
Current Usage                         14.2      12.9      12.9      12.9
Purchase Likelihood (Likely)           6.5       5.8       2.9       3.4
Purchase Likelihood (Unlikely)        93.5      94.2      97.1      96.6
Unawareness                           63.2      69.2      65.3      59.1
Grand Total                          300.0     300.0     300.0     300.0

Column Labels                   L’Occitane   SK-II   Shiseido   Grand Total
Row Labels
Awareness                              31.2    46.8       38.9        390.3
Current Non-usage                      90.3    74.9       88.9        952.9
Current Usage                           9.7    25.1       11.1        147.1
Purchase Likelihood (Likely)            1.5    16.7        2.5         59.3
Purchase Likelihood (Unlikely)         98.5    83.3       97.5       1040.7
Unawareness                            68.8    53.2       61.1        709.7
Grand Total                           300.0   300.0      300.0       3300.0